body{
    font-family : Arial, sans-serif;
    background-color : #f9f9f9;
    margin : 0;
    padding : 0;
}

.quiz-container {
    position : relative;
    width : 100%;
    margin : 50px auto;
    background-color : #f9f9f9;
    border : 1px solid #f9f9f9;
    border-radius : 10px;
    padding : 20px;
    box-shadow : 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align : center;
}

.header {
    font-size : 18px;
    margin-bottom : 10px;
    font-weight : bold;
    color : #555;
}

.question {
    font-size : 22px;
    font-weight : bold;
    margin-bottom : 20px;
}

.image-container img {
    width : 100%;
    height : auto;
    border-radius : 10px;
    margin-bottom : 20px;
}

.options {
    display : grid;
    grid-template-columns :  1fr 1fr;
    gap: 10px;
}
.option {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.option:hover {
  background-color: #f9f9f9;
  transform: scale(1.05);
}