.my-rank-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.points-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.badge-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.badge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.badge-circle {
  width: 120px;
  height: 120px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.button-container {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center; /* 中央揃え */
  gap: 10px; /* ボタン間の余白 */
}

.share-button,
.back-button {
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.share-button {
  background-color: #e6f7e6;
  border-color: #a7d7a7;
}

.share-button:hover {
  background-color: #a7d7a7;
  color: white;
}

.back-button {
  background-color: #d6e4ff;
  border-color: #91caff;
}

.back-button:hover {
  background-color: #91caff;
  color: white;
}

.badge-image {
  width: 120px;
  object-fit: contain;
}
